img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

h2,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.cat-profile {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
