.adoption-page {
  margin-left: 16rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input {
  height: 1.3rem;
  width: 12rem;
}

.results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
  gap: 2rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 1rem;
}
