.adoption-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input {
  height: 1.3rem;
  width: 12rem;
}

.results {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
